# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= "1868651322:AAHmtJhj6tu6LpJ41v_NO5N2lGgy1O8k36s"
APP_ID = 6554206
API_HASH = "9470c43627dd44d6534350095b3ff563"
OWNER_ID = 275253877

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = -412444025


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentLeech"
INDEX_LINK = ""

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 15
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
